@model Project.Areas.Admin.Models.Parser.Group
@using Project.Areas.Admin.Models.Parser


<h1>Создание учебной группы</h1>

@if (TempData["SuccessMessage"] != null)

{

    <div class="alert alert-success">

        @TempData["SuccessMessage"]

    </div>

}

<style>

</style>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Number">Номер группы</label>
        <input asp-for="Number" class="form-control" placeholder="Например: 731" />
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CadetsNumber">Количество курсантов</label>
        <input asp-for="CadetsNumber" class="form-control" placeholder="Например: 21" />
        <span asp-validation-for="CadetsNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Speciality">Выбрать специальность</label>
        <select asp-for="SpecialityId" class="form-control"
            asp-items="@(new SelectList(ViewBag.Specialities, "Id", "Title"))">
            <option value="">Выбрать специальность</option>
        </select>

        <span asp-validation-for="Speciality" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-outline-success mt-3">Создать</button>
</form>

<div>
    <a class="btn btn-outline-secondary btn-sm mt-3" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Вернуться к списку</a>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
